* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body {
    background: #1E2D3B;
    min-height: 100vh;
}

.container {
    max-width: 1070px;
    min-width: 250px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 80px; */
}

.container h4 {
  color: white;
  margin-bottom: 5px;
}

.wrap-genre {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

header {
    width: 100%;
    height: 70px;
    background: rgb(46, 58, 70);
}
header img {
    height: 50px;
    margin-left: 20px;
    /* margin-top: 10px; */
}

.sel-genere {
  padding: 5px;
  font-weight: bold;
}

/* .sel-genere:enabled {
  border: 4px solid lightgreen;
} */

.cds-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 0;
}

.cd {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-basis: 200px;
    padding: 20px;
    margin: 10px 20px;
    height: 360px;
    background: rgb(46, 58, 70);
    text-align: center;
}

.cd img {
    max-width: 100%;
}

.cd h3 {
    margin: 20px 0;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
}

.cd span.author {
    color: grey;
    font-size: 20px;
}

.cd span.year {
    color: grey;
}

.cd span.genre {
    display: none;
}

@media only screen and (max-width: 768px) {
  .cd {
      flex-basis: 300px;
      height: 450px;
    }
  }

@media only screen and (max-width: 700px) {
  .cd {
      flex-basis: 500px;
      height: 100%;
    }

    .cds-container {
      padding: 20px 0;
    }

  }

  @media only screen and (max-width: 550px) {
    .cds-container {
      padding: 20px 0;
    }

    }
